<div class="map">
  <div id="floor" class="floor">
</div>
    <div class="description"/>
    </div>
<%= javascript_include_tag 'bmstuMap' %>
</div>

<div >
    <input name="Floor0" type="submit" value="Floor 0" class="wrap1-btn0" />
    <input name="Floor1" type="submit" value="Floor 1" class="wrap1-btn1" />
    <input name="Floor2" type="submit" value="Floor 2" class="wrap1-btn2" />
    <input name="Floor3" type="submit" value="Floor 3" class="wrap1-btn3" />
    <input name="Floor4" type="submit" value="Floor 4" class="wrap1-btn4" />
    <input name="Floor5" type="submit" value="Floor 5" class="wrap1-btn5" />
</div>
<div>
  <div class= jumbotron>
  <form action="/map" method="GET">
    <input type="text" name="search_name" >
    <input type="submit" value="Search for Room">
    <input type="submit" value="Route">
   </form>
   <br>

   <form action="/map" method="GET">
     <label for="filter">Filter Options</label>
  
     <% if session[:filter] == "floor" %>
       <select name="filter_option" onchange="this.form.submit()">
         <option value="Floor 0">Floor 0</option>
         <option value="Floor 1">Floor 1</option>
         <option value="Floor 2">Floor 2</option>
         <option value="Floor 3">Floor 3</option>
         <option value="Floor 4">Floor 4</option>
         <option value="Floor 0">Floor 5</option>
       </select>
     <% elsif session[:filter] == "Room" %>
       <select name="filter_option" onchange="this.form.submit()">
         <option value="">Rooms</option>
         <% @rooms.each do |room| %>
           <h2>
             <%= room.name %>
           </h2>

         <% end %>
       </select>
     <% end %>
   </form>
<a>
  <%= link_to "Clear Filter Options", map_path %>
</a>
</div>

<% for i in 1..10 %>
<ul>
<% @rooms.allzone(i).each do |rom| %>

  <%= link_to " Зона #{rom.zone} |||| ", map_path %>
  </ul>
<% if rom.floor = "2" %>
        <%= link_to " Аудитория #{rom.name} | ", map_path %>
<% end %>
    <% end %>
<% end %>



  </div>
