<div>
<div class="container2">
      <div class="select-box">
        <div class="options-container">
        <% @allrooms.each do |i| %>
        <div class="option" id="0">
          <input type="radio" class="radio" id="<%=i.id%>" name="category" />
          <label><%=i.name%></label>
        </div>
        <% end %>
        </div>
        <div class="selected">
          Поиск аудитории
        </div>
        <input type="hidden" value="" class="selected-input"/>
        <div class="search-box">
          <input type="text" placeholder="Начните вводить номер..." />
        </div>
      </div>
  </div>
  <input name="Поиск" type="submit" value="Найти аудиторию" class="wrap1-btn6" />
  </div>
  <div>
  <div class="container2">
        <div class="select-box">
          <div class="options-container">
          <% @allrooms.each do |i| %>
          <div class="option" id="1">
            <input type="radio" class="radio" id="<%=i.id%>" name="category" />
            <label><%=i.name%></label>
          </div>
          <% end %>
          </div>
          <div class="selected">
            Пункт отправления
          </div>
          <input type="hidden" value="" class="selected-input"/>
          <div class="search-box">
            <input type="text" placeholder="Начните вводить номер..." />
          </div>
        </div>
    </div>
    <div class="container2">
          <div class="select-box">
            <div class="options-container">
            <% @allrooms.each do |i| %>
            <div class="option" id="2">
              <input type="radio" class="radio" id="<%=i.id%>" name="category" />
              <label><%=i.name%></label>
            </div>
            <% end %>
            </div>
            <div class="selected">
              Пункт назначения
            </div>
            <input type="hidden" value="" class="selected-input"/>
            <div class="search-box">
              <input type="text" placeholder="Начните вводить номер..." />
            </div>
          </div>
      </div>
    <input name="Маршрут" type="submit" value="Проложить маршрту" class="wrap1-btn7" />
  </div>
<div class="map">
  <div id="floor" class="floor">
</div>
    <div class="description">
    </div>
<%= javascript_include_tag 'bmstuMap' %>
</div>
<div >
    <input name="Floor0" type="submit" value="Floor 0" class="wrap1-btn0" />
    <input name="Floor1" type="submit" value="Floor 1" class="wrap1-btn1" />
    <input name="Floor2" type="submit" value="Floor 2" class="wrap1-btn2" />
    <input name="Floor3" type="submit" value="Floor 3" class="wrap1-btn3" />
    <input name="Floor4" type="submit" value="Floor 4" class="wrap1-btn4" />
    <input name="Floor5" type="submit" value="Floor 5" class="wrap1-btn5" />
</div>


   <script>
     const selected = document.querySelectorAll(".selected");
     const optionsContainer = document.querySelectorAll(".options-container");
     const searchBox = document.querySelectorAll(".search-box input");

     const optionsList = document.querySelectorAll(".option");
     const hiddenid = document.querySelectorAll (".selected-input");
     for (let c=0; c<3; c++) {
       selected[c].addEventListener("click", () => {
         optionsContainer[c].classList.toggle("active");

         searchBox[c].value = "";
         filterList("");

         if (optionsContainer[c].classList.contains("active")) {
           searchBox[c].focus();
         }
       });
       optionsList.forEach(
       o => {if (c==o.id){
         o.addEventListener("click", () => {
           selected[c].innerHTML = o.querySelector("label").innerHTML;
           hiddenid[c].value = o.querySelector ("input").id
           optionsContainer[c].classList.remove("active");
         });
       }
       });
       searchBox[c].addEventListener("keyup", function(e) {
         filterList(e.target.value);
       });
     }

     const filterList = searchTerm => {
       searchTerm = searchTerm.toLowerCase();
       optionsList.forEach(option => {
         let label = option.firstElementChild.nextElementSibling.innerText.toLowerCase();
         if (label.indexOf(searchTerm) != -1) {
           option.style.display = "block";
         } else {
           option.style.display = "none";
         }
       });
     };
</script>
